.action-buttons {
  margin-top: 48px;

  .action-btn {
    font-family: "Titillium Web", sans-serif;
    height: 50px;
    color: #1b1f19;
    background-color: $button_color;
    padding: 0 24px;
    font-size: 20px;
  }
}
